alias config='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias la='ls -A'
alias cdd='cd Desktop'
alias ls='ls -ahl'


alias ll='ls -l'

alias c='clear'
alias cdR='cd ~/Remote'
alias uumu='umount ~/Remote'
alias cdw='cd ~/Remote/cwork'
