#! /usr/bin/zsh
#-------> My Function <----------

function itchy(){
	ssh -t dv18aar@itchy.cs.umu.se "/usr/bin/zsh"
}
function installBaseKit(){
	[ "$OSTYPE" == "linux-gnu"* ] && 
	sudo pacman -Syu ranger xcompmgr compton feh scrot dmenu xlockmore
}

function covid-19(){
	curl https://corona-stats.online/$1
}
