#! /usr/bin/zsh
#-------> My Function <----------

function installBaseKit(){
	[ "$OSTYPE" == "linux-gnu"* ] && 
	sudo pacman -Syu ranger xcompmgr compton feh scrot dmenu xlockmore
}

function covid-19(){
	curl https://corona-stats.online/$1
}
